<div class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header box green">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <p>{{message}}</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn green" data-dismiss="modal">حذف</button>
                <button type="button" ng-click="cancel()" class="btn grey-cascade">الغاء</button>
            </div>
        </div>
    </div>
</div>
