<div class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header box green">
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name='regForm' novalidate>
                    <div class="form-group">
                        <div class="col-md-7 text-center">
                            <h4>  برجاء الإنتظار جاري التنفيذ</h4>
                        </div>
                        <div class="col-md-7 text-center">
                            <img src="../assets/global/img/loading-spinner-default.gif" />

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
