<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">لوحه التحكم</a>
            <i class="fa fa-angle-left"></i>
        </li>
        <li>
            <a href="#"> إعدادات الحساب</a>
        </li>
    </ul>

</div>

<h3 class="page-title">
    <!--<i class="fa fa-coffee"></i>-->
    صلاحيات النظام
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>
    <div class="row">
        <div class="col-md-12">

            <a href="javascript:;" class="btn grey-cascade"  ng-if="CheckUserPrivileges('SystemAuthorities','New')==true"   ng-click="InsertUserSecurity()">
                <i class="fa fa-plus"></i>&nbsp;جديد
            </a>

        </div>

        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light portlet-fit portlet-datatable bordered">
   
                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="sample_3">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th> الاسم بالعربى</th>
                                    <th>الاسم بالإنجليزى</th>
                                    <th> العمليات </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-end="" ng-if="displayLoad">
                                    <td colspan="4" class="loadingtd"><img src="../../../assets/pages/img/preloader.gif" /></td>
                                </tr>
                                <tr ng-repeat="UserSecurityObj in UserSecurity">
                                    <td>{{$index + 1}}</td>
                                    <td> {{ UserSecurityObj.sRoleArName }} </td>
                                    <td> {{ UserSecurityObj.sRoleName }} </td>
                                    <td>
                                        <a href="#"   ng-if="CheckUserPrivileges('SystemAuthorities','Edit')==true"    ng-click="edit($index)" title="تعديل"><i class="fa fa-edit (alias)"></i></a>
                                        <a ng-if="MainRole != UserSecurityObj.sRoleID   && CheckUserPrivileges('SystemAuthorities','Delete')==true" href="#" ng-click="delete($index)" title="حذف"><i class="fa fa-trash-o"></i></a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
