<div class="row">
    <div class="col-md-12">
        <div class="panel-body">
                <!--<h4>
                    <label class="control-label ">
                        ساعات دوام الموظف
                    </label>
                </h4>-->
           
            <div class="form-group">
                <label class="control-label col-md-4">
                    غير محدد
                </label>
                <div class="col-md-6">
                    <input type="checkbox" />
                </div>
            </div>

            <br /><br />
                <div class="form-group">
                    <label class="control-label col-md-4">
                        من<span class="required" aria-required="true">*</span>
                    </label>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <select class="form-control">
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>

                        </div>
                        <div class="col-md-5">
                            <select class="form-control">
                                <option value=""> ص </option>
                                <option value=""> م </option>

                            </select>

                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    <label class="control-label col-md-4">
                        الى <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <select class="form-control">
                                <option value=""> 3 </option>
                                <option value=""> 4 </option>
                                <option value=""> 5</option>
                            </select>

                        </div>
                        <div class="col-md-5">
                            <select class="form-control  ">
                                <option value=""> ص </option>
                                <option value=""> م </option>
                            </select>

                        </div>
                    </div>
                </div>
            <br /><br />

            <div class="form-group">
                <label class="control-label col-md-4">
                    أيام الدوام
                </label>
                <div class="col-md-6">
                    <input type="text" />
                </div>
            </div>


            </div>
        </div>
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-mini green" data-dismiss="modal"> <i class="fa fa-edit (alias)"></i>&nbsp;تعديل</button>
    <button type="button" class="btn dark btn-outline" data-dismiss="modal"> <i class="glyphicon glyphicon-repeat"></i>&nbsp;مسح</button>
</div>

